@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

.nav-bar-modal{
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    bottom: 30%;
    color: white;
    border: solid #202020;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    width: 1000px;
    height: 550px;
}

.nav-bar-modal h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 30px;
}

.nav-bar-modal > form > label {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

}

.nav-bar-modal > form {
    margin: 0 10% 0 10%;
    color: white;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
}

.nav-bar-modal > form > label > input {
    color: white;
    border-radius: 8px;
    background-color: #C4C4C4;;
    color: black;
    border: 2px solid #26CCD7;
    width: 560px;
    height: 44px;
    margin-bottom: 20px;
    margin-left: 3%;
}

.nav-bar-modal > form > label {
    margin-left: 10%;
}

.nav-bar-modal > form > button {
    color: white;
    border-radius: 8px;
    background-color: #26CCD7 ;
    font-family: 'Raleway', sans-serif;
    width: 160px;
    height: 44px;
}


.nav-bar-modal > h2, a {
    color: #26CCD7;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;

}

.navbar-logo img{
    max-height:400px;
    max-width: 400px;
}

.login-form-button {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.login-form-button > button {
    padding: 5px 30px 5px 30px;
    color: #26CCD7;
    border-radius: 8px;
    background-color: #26CCD7;
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid rgba(38, 204, 215, 0.5);
    width: 160px;
    height: 44px;
    font-size: 16px;
    margin: 40px;
}

#signUpButton {
    background-color: #26CCD7;
    border: 1px solid rgba(38, 204, 215, 0.5);
    border-radius: 8px;
    text-decoration: none;
}

#signUpButton a {
    background-color: #26CCD7;
    text-decoration: none;
    color: black;
}

.user-navbar-links {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    
}

.user-navbar-links a {
    color: #ECECEC !important;
    margin: 20px;
}

.user-navbar-links a:hover {
    box-shadow: 0px 4px 4px #ab1246;
}

.profile-image-navbar {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid #ECECEC;
    margin-top: -25px;

}

ion-icon {
    font-size: 36px;
    margin-top: 55px;
    margin-right: 20px;
    margin-left: 50px;
}
