@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


.footer {
    background-color: #121212;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    margin-top: 800px;
}

.footer button {
    display: flex;
    color: white;
    width: 200px;
    padding: 20px;
    margin: 20px;
    border: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #121212;
}

.navBar {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    justify-content: center;
}

#navBar-logo img{
    max-height: 200px;
    max-width: 300px;
    margin-top: 20px;
    height: 100px;
}


.userNavButton {
    display: flex;
}

.user-navbar-buttons {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}

.user-navbar-buttons button {
    color: #26CCD7;
    height: 50px;
    width: 150px;
    border-radius: 5%;
    margin: 10px;
    margin-top: 50px;
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid #26CCD7;
    border-radius: 8px;
    left: 39.38%;
}

.user-navbar-buttons label {
    color: white;
}

hr {
    border: none;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) -15.57%, #26CCD7 45.14%, rgba(0, 0, 0, 0) 123.35%) !important;
    height: 4px;
    width: 1000px;
    margin-left: 25%;
    margin-right: 25%;
}   

.container {
    position: relative;
    text-align: center;
    color: white;    
    display: flex;
    margin: 0;
    width: 100%;
  }

#logo-image {
    display: flex;
    position:relative;
    width:100%;
  }

 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
  }

.centered button {
    background-color: #121212;
    border-color: #26ccd7;
    border-radius: 8px;
    color: #26ccd7;
    font-size: 16px;
    height: 59.63px;
    width: 255px;

}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 25pt;
    font-weight: 200;
    background-color: transparent; 
}

.homepage-images {
    display: flex;
    width: 100%;
}

.homepage-images img {
    display: flex;
    height: 700px;
    width: 100%;
    margin: 0;
}


.signup-form-page {
    background-color: #202020;
    color: white;
    width: 500px;
    margin-left: 48%;
    margin-right: 25%;
    margin-top: 24rem;
    font-family: 'Raleway', sans-serif;
    transform: translate(-50%,-50%);
    
}

.pg-three {
    background-color: #202020;
    color: white;
    width: 500px;
    margin-left: 48%;
    margin-right: 25%;
    margin-top: 28rem;
    font-family: 'Raleway', sans-serif;
    transform: translate(-50%,-50%);
}

.pg-three h2 {
    font-size: 24pt;
}

#almostDone {
    margin-left: 245px;
}

#completeProfile {
    margin-left: 170px;
}

#backButton {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 100px !important;
    
}

.pg-three button {
    margin-left: 530px;
    margin-top: 20px;

}

.signup-form-page input {
    margin: 10px;
    background: #C4C4C4;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    
}

.signup-form-page input[type="text"] {
    width: 540px !important;
    height: 44px;
    color: black;
}


.signup-form-page input[type="email"]{
    width: 540px;
    height: 44px;
    background: #C4C4C4 !important;
    color: black;
}

.signup-form-page input[type="password"] {
    width: 540px;
    height: 44px;
    color: black;
} 

.signup-form-page button[type="submit"] {
    width: 160px;
    height: 44px;
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid rgba(38, 204, 215, 0.5);
    border-radius: 8px;
    color: rgba(38, 204, 215, 0.5);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}

.signup-form-page h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-top: 15%;
    margin-bottom: 20px;
}

.signup-form-page p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ECECEC;
}

.signup-form-page select {
    margin: 10px;
    background: #C4C4C4;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    height: 44px;
    width: 150px;
    color: black;
}

#keywordLabel input[type="text"] {
    width: 540px;
    height: 44px;
    color: black;
}

.signup-form-buttons {
    background-color: rgba(0, 0, 0, 0);
}

#backButton {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    width: 150px;
    margin: 20px;
    border: none;
    margin-left: 30%;
    margin-right: 70%;
    margin-bottom: 25rem;
    padding-bottom: 40rem;
    height: 50px;
    position: absolute;
    top: 55rem;
}

#nextButton{
    width: 150px;
    border-radius: 5%;
    height: 50px;
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid rgba(38, 204, 215, 0.5);
    border-radius: 8px;
    color: rgba(38, 204, 215, 0.5);
    margin-left: 60%;
    margin-right: 25%;
    position: absolute;
    top: 55rem;
}

.team {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 7rem;
    margin-left: 17rem;
    margin-right: auto;
    justify-items: center;
}

.team img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid #ECECEC;
    margin-right: 20px;
    margin-bottom: 20px;

}

.team p {
    color: white;
    margin: 0;
}

.team h1 {
    color: #26ccd7;
}

.team h2 {
    color: white;
    font-size: 36px;
}

.teamMember {
    margin-bottom: 30px;
}

.teammember-text {
    margin-bottom: 30px;
}

#columnOneTeam {
    margin-left: 20px;
    margin-right: 20px;
}

#aboutTitle h1 {
    color: #26CCD7; 
    font-size: 48px;
    margin-top: 3rem;
    text-align: center;
}


.form-columns {
    columns: 3;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    color: #ECECEC;
}


textarea {
    box-sizing: border-box;
    width: 730.78px;
    height: 142.68px;
    left: 496.21px;
    top: 456.32px;
    background: #C4C4C4;
    border: 1px solid #ECECEC;
    border-radius: 8px;
}

.website-links{
    columns: 2;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    /* column-width: 100%; */
    column-gap: 50%;
    
}

.website-links input[type="url"] {
    background: #C4C4C4;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    height: 44px;
    width: 350px;
} 

#website {
    margin-top: 2em;
}

#website > #aboutMe {
    justify-content: space-evenly;
}

.profile-img-and-links img {
    width: 255px;
    height: 255px;
    border: 1px solid #ECECEC;
    border-radius: 50%;

}

.social-links img{
    height: 48px !important;
    width: 48px !important;
    border: none !important;
    margin-left: -100px;
    margin-top: 44px;
}


.ProfilePageUserArea h1 {
    color: #26CCD7;
    font-size: 48px;
    margin-bottom: 90px;
    margin-left: -95px;
}


.profile-about-and-roles-area {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ECECEC;
    height: 132px ;
    width: 635px;
}


.profile-about-and-roles-area ul {
    width: 186px;
    height: 90px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #ECECEC;
}

.userURL {
    height: 30px;
    width: 255px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #26CCD7;
    margin-top: 32px;
    margin-bottom: 48px;
}

.userURL a:hover {
    color: #ab1d46;
}

.divider hr {
    width: 980px;
    border: 1px solid #ECECEC;
    margin-left: -30px;
}

.image-upload-buttons {
    margin-left: 230px;
}

.image-upload-buttons button {
    height: 44px;
    width: 160px;
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid #26CCD7;
    border-radius: 8px;
    color: #26CCD7;
    margin-top: 15px;
    margin-left: 25px;
}

.ImageContainer h1 {
    color: #ECECEC;
    font-size: 48px;
}

.ImageContainer {
    margin-left: 96px;
}

.carousel-inner {
    width: 730px;
    height: 487.43px;
    margin-top: 64px;
    margin-bottom: 50px;
}

.profile-pg-container {
    margin-left: 404px;
    margin-right: 404px;
    margin-top: 6%;
}

.image-placeholder {
    background-color: #454545;
    display: block;
    height: 255px;
    width: 255px;
    margin: 5px;
    width: 260px;
    align-items: center;
    border: 1px solid #26CCD7;
    margin-left: 350px;
}

.image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
    background-color: #454545;
}

.image-placeholder img {
    background-color: #454545;
    margin-top: 10px; 
}

.inbox-header {
    width: 1110px;
    border-bottom: 1px solid #26CCD7;
    background: #121212;
    padding: 20px;
}

/* .inbox-navbar-categories {
} */



.inbox-navbar-categories button {
    width: 225px;
    height: 44px;
    background: #454545;
    border: 2px solid #353535;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color:#ECECEC;
}

.teamMember-name {
    padding-left: 20px;
}

.userAbout-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ECECEC;
    text-align: left;
    margin-left: 30px;
    display: grid;
}

.userAbout-roles {
    margin-left: 30px;
    color: #ECECEC;
    margin-top: 18px;
    margin-bottom: 20px;
}


.userAbout-roles ul {
    text-align: left !important;
}

.ProfilePageProjects h2 {
    margin-top: 30px;
    margin-right: 500px;
}

.myProjects {
    display: flex;
}

.myProjects button {
    height: 44px;
    width: 160px;
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid #26CCD7;
    border-radius: 8px;
    color: #26CCD7;
    margin-top: 30px;
}

.gallery-header button {
    height: 44px;
    width: 160px;
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid #26CCD7;
    border-radius: 8px;
    color: #26CCD7;
    margin-left: 523px;
}

.gallery-header {
    display: flex;
    margin-top: 50px;
}

.find-collab-container {
    margin-left: 308px;
    margin-right: 50px;
}


.find-collab-container h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: #ECECEC;
}

.filter-column {
    width: 350px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #ECECEC;
}

.filter-column button {
    background-color: #202020;
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid #26CCD7;
    border-radius: 8px;
    color: #26CCD7;
}

.filter-column select {
    background: #ECECEC;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    margin: 20px;
    width: 224px;
    height: 44px;
}

.filter-column input[type="text"] {
    width: 224px;
    height: 44px;
    background: #C4C4C4;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    margin: 10px;
}


.filter-column h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #ECECEC;
    width: 336px;
    height: 40px;
    background-color: #121212;
    border-top: 1px solid #26CCD7;

    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.collab-header h1 {
    margin-left: 308px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #ECECEC;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* .CollaboratorItem {
    color: #ECECEC;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

} */

.collab-buttons button{
    width: 160px;
    height: 44px;
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid #26CCD7;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.collab-img img {
    border: 1px solid #ECECEC;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.collab-name h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #26CCD7;
}

.collaborators {
    display: flex;
}

.collab-col-1 {
    display: flex;
    flex-direction: column;
}

.collab-col-2 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 600px;
    margin-top: 50px;
}

.collab-col-3 {
    display: flex;
    flex-direction: column;
}

.inbox-page {
    margin-left: 308px;
    margin-top: 60px;
}

.create-project-form  h2{
    margin-left:370px;
    margin-bottom: 64px;
}

.collab-columns {
    display: flex;
}

.collab-column-1 {
    display: flex;
    flex-direction: column;
    width: 735px;
}

.collab-column-2 {
    display: flex;
    flex-direction: column;
}

.findProject-columns {
    display: flex;
}
.findProject-column-1 .findProject-column-2 {
    margin-top: 20px;
}

.projectItem-container {
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 30px;
    padding-bottom: 20px;
    display: flex;
    margin-right: 300px;
}



.projectItem-container h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #26CCD7;
}

.projectItem-1 button {
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid #26CCD7;
    border-radius: 8px;
    width:160px;
    height: 44px;
    margin-top: 30px;
}

.projectItem-2 {
    margin-left: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    color: #ECECEC;
}

.projectPage-container {
    margin-left: 404px;
    margin-top: 50px;
    display: flex;
    width: 1035px;

}

.projectPage-container img {
    margin-right: 40px;
    
}

.projectPage-container h1 {
    margin-left: -85px;
    margin-bottom: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    display: flex;
    color: #26CCD7;
}

.projectPage-column-1 {
    margin-top: 100px;
    display: flex;
    margin-top: 50px;
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ECECEC;

}

.projectPage-column-2 {
    margin-top: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ECECEC;
}

.projectPage-column-3 {
    margin-top: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ECECEC;
}

.projectPage-column-3 h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    color: #ECECEC;
}

.projectPage-column-1 button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #26CCD7;
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid #26CCD7;
    border-radius: 8px;
    height: 44px;
    width: 160px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    margin-left: 50px;
}

.projectPage-column-3 img {
    border: 2px solid #ECECEC;
    border-radius: 50%;
    margin-top: 25px;
}

.projectPage-container-2 {
    margin-left: 404px;
    margin-top: 50px;
    display: block;
}

.lookingFor-card {
    margin-top: 50px;
    width: 260px;
    height: 180px;

}

.lookingFor-card h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #26CCD7;
}

.lookingFor-card button {
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid #26CCD7;
    color: #26CCD7;
    height: 44px;
    width: 160px;
    border-radius: 8pt;
    margin-left: 50px;
    margin-top: 15px;
    font-family: 'Open Sans';
    font-style: normal;
}

.profile-image-upload img{
    border: 2px solid #ECECEC;
    border-radius: 50%;
    margin-left: 275px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.profile-image-upload p {
    margin-left: 255px;
    margin-top: 30px;
}



.lookingFor-header h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #ECECEC;

}

#editProfile {
    text-align: left !important;
}

#organizer {
    margin-left: 300px;
}

#organizer img {
    margin-left: 20px;
    height: 65px;
    width: 65px;
    border: 1px solid #ECECEC;
    border-radius: 50%;
}

.loading-screen {
    display: flex;
    align-items: center;
    vertical-align: center;
}

.profile-about-and-roles-area textarea[type="text"] {
    background: #ECECEC;
    width: 400px;
    height: 200px;
    text-align: left;
    border-radius: 8pt;
    word-wrap: break-word;
    word-break: break-all;
    margin-top: 20px;
    padding: 10px;
}

.profile-about-and-roles-area label {
    text-align: left !important;
    padding-bottom: 20px !important;
}

.social-links button {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 35px;
    padding-top: 10px;
    margin-left: 65px;
}

.userAbout-roles button {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 60px;
    padding-top: 10px;
}

.profile-img-and-links input[type="text"] {
    background: #ECECEC !important;
    width: 400px !important;
    height: 50px;
    text-align: left;
    padding: 10px;
    border-radius: 8pt;
}

.profile-img-and-links label {
    text-align: left !important;
}

.ReactModal__Content {
    padding-left: 100px;

}

.ReactModal__Content h2 {
    padding-left: -100px !important;
}

.ReactModal__Content button {
    margin-top: 50px;
}

.ReactModal__Content input[type='url'] {
    background: #ECECEC !important;
    width: 400px !important;
    height: 50px;
    text-align: left;
    padding: 10px;
    border-radius: 8pt;
    margin-right: 20px;
}

.filterRoles {
    /* margin-top: 100px !important; */
    margin-bottom: 100px;
}

.filterRoles label {
    padding: 5px;
}

#lookingFor h3 {
    margin-top: 25px;
    margin-bottom : 25px;
}

.apply-filter-button button {
   margin-top: 10px;
   margin-bottom: 10px;
}

input[type="text"] {
    color: black;
}

.project-container {
    margin-bottom: 150px;
}