@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


.footer {
    background-color: #121212;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer button {
    display: flex;
    color: white;
    width: 200px;
    padding: 20px;
    margin: 20px;
    border: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #121212;
}

.navBar {
    display: flex;
    margin-bottom: 0;
}

#navBar-logo img{
    margin-top: 20px;
    margin-left: 311px;
    margin-bottom: 10px;
    height: 125px;
}

.userNavButton {
    display: flex;
}

.user-navbar-buttons {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}

.user-navbar-buttons button {
    color: #26CCD7;
    height: 50px;
    width: 150px;
    border-radius: 5%;
    margin: 10px;
    margin-top: 50px;
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid #26CCD7;
    border-radius: 8px;
}

.user-navbar-buttons label {
    color: white;
}

hr {
    border: none;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) -15.57%, #26CCD7 45.14%, rgba(0, 0, 0, 0) 123.35%) !important;
    height: 4px;
    width: 1000px;
    margin-left: 25%;
    margin-right: 25%;
}   

.container {
    position: relative;
    text-align: center;
    color: white;    
    display: flex;
    margin: 0;
    /* width: 100%; */
  }


 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
  }

.centered button {
    background-color: #121212;
    border-color: #26ccd7;
    border-radius: 8px;
    color: #26ccd7;
    font-size: 16px;
    height: 59.63px;
    width: 255px;

}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 25pt;
    font-weight: 200;
    background-color: transparent; 
}

.homepage-images {
    display: flex;
    width: 100%;
}

.homepage-images img {
    display: flex;
    height: 700px;
    width: 100%;
    margin: 0;
}

.signup-form-page {
    background-color: #202020;
    color: white;
    width: 500px;
    /* margin-left: 40%;
    margin-right: 25%; */
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.signup-form-page input {
    margin: 10px;
    background: #C4C4C4;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    
}

.signup-form-page input[type="text"] {
    width: 255px;
    height: 44px;
    /* position: absolute; */
}

.signup-form-page input[type="email"]{
    width: 540px;
    height: 44px;
}

.signup-form-page input[type="password"] {
    width: 540px;
    height: 44px;
} 

.signup-form-page h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-top: 15%;
    margin-bottom: 20px;
}

.signup-form-page select {
    margin: 10px;
    background: #C4C4C4;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    height: 44px;
    width: 200px;
}

.signup-form-buttons {
    margin-left: 40%;
    margin-right: 25%;
}


#backButton {
    color: white;
    width: 150px;
    margin: 20px;
    border: none;
    height: 50px;
}

#nextButton {
    width: 150px;
    margin: 20px;
    border-radius: 5%;
    height: 50px;
    background: rgba(38, 204, 215, 0.2);
    border: 1px solid rgba(38, 204, 215, 0.5);
    border-radius: 8px;
    color: rgba(38, 204, 215, 0.5);
}

