.create-project-form {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-top: 6%;
}

.create-project-form input[type="text"] {
    width: 540px;
    height: 44px;
    background: #ECECEC;
    border: 2px solid #26CCD7;
    border-radius: 8px;
    margin-left: 10px;
}

.create-project-form select {
    width: 200px;
    height: 44px;
    background: #ECECEC;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    margin: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}
